.photon-image-wrapper {
    background-color: #f8f8f8;
    padding: 10px;
    display: inline-block;
}

.photon-image-wrapper > div:first-child {
    display: inline-block;
}

.photon-image-tools {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
}

.photon-image-tool {
    font-size: 16px;
    color: #555;
    cursor: pointer;
}

.photon-image-tool:hover {
    color: #2e8aea;
    text-decoration: none;
}

.photon-image-bounds 
{
    position: relative;
    display: inline-block;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.photon-tag 
{
    position: absolute;
    display: block;
    border: solid 3px #2e8aea;
    cursor: pointer;

    -webkit-transition: background-color 200ms ease-out;
    -moz-transition: background-color 200ms ease-out;
    -o-transition: background-color 200ms ease-out;
    transition: background-color 200ms ease-out;

    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}

.photon-tag.active {
    -webkit-transition: background-color 0ms ease-out;
    -moz-transition: background-color 0ms ease-out;
    -o-transition: background-color 0ms ease-out;
    transition: background-color 0ms ease-out;
}

.photon-tag:hover
{
    background-color: rgba(46, 138, 234, .25);
}

.photon-tag.active:hover
{
    background-color: transparent;
}

.photon-tag-tools {
    position: absolute;
    position: absolute;
    right: -30px;
    top: -3px;
    display: none;
}

.photon-tag:hover .photon-tag-tools,
.photon-tag.active .photon-tag-tools
{
    display: block;
}

.photon-tag-tool {
    display: block;
    background-color: rgb(46, 138, 234);
    color: white;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}


.photon-dialog .ng-invalid .control-group .control-label {
    color: #b94a48;
}

.photon-dialog .ng-invalid .control-group .controls input {
    border-color: #b94a48;
}