<div id="photon-{{model.id}}" class="umb-editor umb-mediapicker" 
	ng-controller="Our.Umbraco.PropertyEditors.PhotonController">

    <ul class="umb-sortable-thumbnails" ng-if="showAdd()">
        <li style="border: none">
            <a href="#" class="add-link" ng-click="add()" prevent-default>
                <i class="icon icon-add large"></i>
            </a>
        </li> 
    </ul>

    <div ng-if="!showAdd()">
        <photon-image src="{{imageSrc}}" model="model"></photon-image>
        <div>
            <a href class="btn btn-link" ng-click="clear()"><i class="icon-delete red"></i> Remove file</a>
        </div>
    </div>

    <umb-overlay ng-if="mediaPickerOverlay.show"
        model="mediaPickerOverlay"
        position="right"
        view="mediaPickerOverlay.view">
    </umb-overlay>

</div>