<div id="photon-{{model.id}}" class="umb-editor umb-mediapicker" 
	ng-controller="Our.Umbraco.PropertyEditors.PhotonController">

    <ul class="umb-sortable-thumbnails" ng-if="showAdd()">
        <li style="border: none">
            <a href="#" class="add-link" ng-click="add()" prevent-default>
                <i class="icon icon-add large"></i>
            </a>
        </li> 
    </ul>

    <div class="photon-image-wrapper" ng-if="!showAdd()">
        <photon-image src="{{tmpModel.imageSrc}}" model="tmpModel" config="model.config"></photon-image>
        <div class="photon-image-tools">
            <a href class="photon-image-tool" ng-click="clear()"><i class="icon-trash"></i></a>
        </div>
    </div>

    <umb-overlay ng-if="mediaPickerOverlay.show"
        model="mediaPickerOverlay"
        position="right"
        view="mediaPickerOverlay.view">
    </umb-overlay>

</div>